<div
  class="header"
  [ngClass]="{ 'logged-out' : (user$ | async) === null }"
>
  <div class="logo">
    <a [routerLink]="'/'">
      <img i18n-alt alt="Iron eyes logo" src="../../../assets/logo.png">
    </a>
  </div>
  <div class="links" [ngClass]="{'redeem-open' : showRedeemComponent}">
    <ng-container *ngIf="(user$ | async); else loggedOut">
      <app-redeem (closeEvent)="showRedeemComponent = !showRedeemComponent" *ngIf="showRedeemComponent" class="link" ></app-redeem>
      <a class="link" *ngIf="!showRedeemComponent" (click)="showRedeemComponent = !showRedeemComponent" i18n>Redeem a code</a>
      <a class="link" [routerLink]="'games'" i18n>Library</a>
      <a class="link" (click)="logout()" i18n>Log Out</a>
    </ng-container>
    <ng-template #loggedOut>
      <a class="link" *ngIf="(user$ | async) === null" [routerLink]="'login'" i18n>Log In</a>
    </ng-template>
  </div>
</div>
