.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .logo {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    
    img {
      height: 3rem;
      margin: .5rem;
    }
  }

  .links {
    display: flex;
    align-items: center;

    a {
      margin: 1rem;
      cursor: pointer;
      color: white;
      text-decoration: none;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}