<div class="header">
  <div class="logo" [routerLink]="'/'">
    <img src="./../../../assets/logo.png">
  </div>
  <div class="links">
    <ng-container *ngIf="(user$ | async); else loggedOut">
      <app-redeem (closeEvent)="showRedeemField = !showRedeemField" *ngIf="showRedeemField" class="link" ></app-redeem>
      <a class="link" *ngIf="!showRedeemField" (click)="showRedeemField = !showRedeemField">Redeem a code</a>
      <a class="link" [routerLink]="'games'">Library</a>
      <a class="link" (click)="logout()">LogOut</a>
    </ng-container>
    <ng-template #loggedOut>
      <a class="link" *ngIf="(user$ | async) === null" [routerLink]="'login'">LogIn</a>
    </ng-template>
  </div>
</div>
