
<div class="lobby">
  <h1 class="title" i18n>Your Library</h1>
  <div class="filter" [formGroup]="form">
    <div class="field">
      <label i18n>Search games</label>
      <input i18n-placeholder placeholder="Search" formControlName="search"/>
    </div>
    <div class="field">
      <label i18n>Order By</label>
      <select formControlName="orderBy">
        <option i18n [value]="'asc'">Alphabetic [A-Z]</option>
        <option i18n [value]="'desc'">Alphabetic [Z-A]</option>
      </select>
    </div>
  </div>
  <ng-container *ngIf="(games$ | async) as games">
    <div class="thumbs" *ngIf="games.length > 0 else noData;">
      <div class="thumb" *ngFor="let game of games">
        <a [routerLink]="'/game'" [queryParams]="{ id: game.gameId }">
          <img i18n-title title="game thumb"[src]="game.thumbnail">
        </a>
      </div>
    </div>
    <ng-template #noData>
      <div class="no-data">
        <span i18n>No games</span>
      </div>
    </ng-template>
  </ng-container>
</div>

