
<div class="lobby">
  <h2 i18n>Your Library</h2>

  <div class="filter">
    <h3 i18n>Search games</h3>
    <input i18n-placeholder placeholder="Search" #searchInput autocomplete="off"/>
  </div>
  <ng-container *ngIf="(games$ | async) as games">
    <div class="lobby-thumbs" *ngIf="games.length > 0 else noData;">
      <div  class="img" *ngFor="let game of games">
        <a [routerLink]="'/game'" [queryParams]="{id: game.gameId}">
          <img [src]="game.thumbnail">
        </a>
      </div>
    </div>
    <ng-template #noData>
      <div class="no-data">
        <span i18n>No games</span>
      </div>
    </ng-template>
  </ng-container>
</div>

