@import 'variables';

.promotions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .promotion-thumbs {
    .promotion {
      height: 15rem;
      margin: 0 .3rem;

      @media all and (max-width: 600px) {
        height: 5rem;
      }

      &.main {
        height: 17rem;

        @media all and (max-width: 600px) {
          height: 10rem;
        }
      }
    }
  }

  .promotion-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30rem;

    .promo-logo {
      margin-top: -2rem;
      width: 100%;
    }

    p {
      color: $off-white;
      font-size: small;
      text-align: center;
    }

    @media all and (max-width: 600px) {
      max-width: 100%;
    }
  }
}
