.promotions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .promotion-thumbs {
    .promotion {
      height: 15rem;
      margin: 0 .3rem;

      &.main {
        height: 17rem;
      }
    }
  }

  .promotion-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30rem;

    .promo-logo {
      margin-top: -2rem;
      width: 100%;
    }

    p {
      color: #aaa;
      font-size: small;
      text-align: center;
    }
  }
}
