<div class="promotions" data-e2e="promotion">
  <div class="promotion-thumbs" [@fadeInOutAnimation]>
    <img
      alt="assassin creed brotherhood thumb"
      class="promotion"
      i18n-alt
      src="../assets/ac_brotherhood.jpg"
    >
    <img
      alt="assassin creed valhalla thumb"
      class="promotion main"
      i18n-alt
      src="../assets/ac_valhalla.jpg"
    >
    <img
      alt="assassin creed syndicate thumb"
      class="promotion"
      i18n-alt
      src="../assets/ac_syndicate.jpg"
    >
  </div>
  <div class="promotion-info" [@slideInOut]>
    <img class="promo-logo" i18n-alt alt="assassin creed title" src="../assets/ac_text.png">
    <p i18n>Play your way through history in the award-winning video game series. Assassin's Creed immerses players in the memories of ancestors, who are fighting for good at pivotal moments in human history.</p>
  </div>
</div>
