<div class="promotions">
  <div class="promotion-thumbs">
    <img class="promotion" i18n-title title="assassin creed brotherhood thumb" src="../assets/ac_brotherhood.jpg">
    <img class="promotion main" i18n-title title="assassin creed valhalla thumb" src="../assets/ac_valhalla.jpg">
    <img class="promotion" i18n-title title="assassin creed syndicate thumb" src="../assets/ac_syndicate.jpg">
  </div>
  <div class="promotion-info">
    <img class="promo-logo" i18n-title title="assassin creed title" src="../assets/ac_text.png">
    <p i18n>Play your way through history in the award-winning video game series. Assassin's Creed immerses players in the memories of ancestors, who are fighting for good at pivotal moments in human history.
    </p>
  </div>
</div>
