<form class="login"
  [formGroup]="form"
  (submit)="onSubmit()">
  <h3 class="title" i18n>Welcome</h3>

  <!-- email -->
  <input placeholder="Email" formControlName="emailAddress" i18n-placeholder/>
  <app-inline-error [control]="form.controls['emailAddress']"></app-inline-error>

  <!-- Password -->
  <input type="password" placeholder="Password" formControlName="password" i18n-placeholder/>
  <app-inline-error [control]="form.controls['password']"></app-inline-error>

  <!-- Button -->
  <button
    (click)="onSubmit()"
    [disabled]="form.dirty && !form.valid"
    i18n
  >Login</button>
</form>
