@import 'variables';

body {
  background-attachment: fixed;
  background-color: $black;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-size: cover;
  color: $light;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  @supports (-webkit-touch-callout: none) {
    /*
      background-size: cover may not working on some iOS versions
    */
    &:after{
      -moz-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
      background: url('./assets/background.jpg') center center;
      background-size: cover;
      content: "";
      height: 100vh;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1; /* needed to keep in the background */
    }
  }
}

H1,
H2,
H3 {
  font-family: assassin, Arial, Helvetica, sans-serif;
}

button,
select,
input {
  background-color: rgba($dark, .6);
  border: 0;
  box-shadow: $default-shadow;
  box-sizing: border-box;
  color: $off-white;
  margin: 1rem 0;
  width: 100%;

  @supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    -webkit-appearance: none;
  }
}

button {
  cursor: pointer;
  padding: 1rem 2rem;
  text-decoration: none;

  &:hover {
    background-color: rgba($dark, 1);
    box-shadow: none;
  }

  &:active {
    position: relative;
  }

  &:disabled {
    background-color: rgba($off-white, .3);
    box-shadow: none;
    color: $off-white;

    &:hover {
      box-shadow: none;
    }
  }
}

a {
  &:active,
  &:focus {
    border: 0;
    outline: 0;
  }
}

input,
select {
  height: 3rem;
  padding: 0 30px;

  &:focus {
    outline: none;
  }
}

.notification {
  .alert {
    background-color: rgba($dark, .9);
    border: 0;
    box-shadow: $default-shadow;
    color: $off-white;
    margin: 1rem;
    padding: 1rem !important;
  }

  button {
    display: none;
  }
}
