body {
  background-color: black;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-size: auto;
  background-attachment: fixed;
}

@font-face {
  font-family: assassin;
  src: url(assets/font/assassin.ttf);
}

H1, H2, H3 {
  font-family: assassin, Arial, Helvetica, sans-serif;
}

button,
input {
  background-color: rgba(#333, .6);
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  color: #ddd;
  box-shadow: 0px 10px 14px -7px #0d0d0d;
  border: 0;
}

button {
	cursor:pointer;
	padding: 1rem 2rem;
	text-decoration:none;

  &:hover {
    background-color: rgba(#333, 1);
    box-shadow: none;
  }

  &:active {
    position:relative;
  }
}

input {
  padding-left: 30px;
  height: 3rem;

  &:focus {
    outline: none;
  }
}

.notification {
  .alert {
    margin: 1rem;
    background-color: rgba(#333, .6);
    color: #ddd;
    box-shadow: 0px 10px 14px -7px #0d0d0d;
      border: 0;
    padding: 1rem !important;
  }

  button {
    display: none;
  }
}