// Typography
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

@font-face {
  font-family: assassin;
  src: url('assets/font/assassin.ttf');
}

// Shadows
$default-shadow: 0 10px 14px -7px #0d0d0d;

// Color
$white: #fff;
$off-white: #aaa;
$light: #ddd;
$dark: #333;
$black: #000;
$red: #a33;


