@import 'variables';

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;

  .age-restriction {
    font-size: $font-size-small;
    vertical-align: top;
  }

  .trailer-iframe {
    border: 0;
    height: 70vh;
    width: 80vw;
  }

  .title {
    justify-content: center;
    text-align: center;
  }
}
